@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

.navbar {
  background-color: #ffffff;
  padding: 1rem;
  font-family: DM Serif Text    , sans-serif;
  align-items: center;
  justify-content: center;

}

.navlinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navlinks li {
  margin: 0 1rem;
}

.navlinks a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navlinks form {
  display: flex;
}

.navlinks input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.navlinks button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #c46df7;
  color: white;
  cursor: pointer;
}
