body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-container {
    flex: 1;
}

header .logo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px; /* Ajusta este valor según sea necesario */
    height: 120px; /* Asegúrate de que sea igual al width para un círculo */
    border-radius: 40%; /* Hace que el botón sea circular */
    overflow: hidden; /* Asegura que la imagen no sobresalga del botón */
    background-color: transparent; /* Ajusta según sea necesario */
    border: none; /* Quita el borde del botón */
    padding: 0; /* Quita el padding interno */
}

header .logo-btn img {
    max-width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}

.search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

}

.search-container input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.search-container button {
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
}

.course-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
.course-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(2, 1fr); /* 2 filas */
    gap: 20px;
    justify-items: center;
    align-items: center; /* Centra los botones verticalmente */
}


.course-buttons button {
    background-color: #333131;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.course-buttons button img {
    max-width: 100%;
    height: auto;
    margin-top: 10px; /* Espacio entre el texto y la imagen */
    border-radius: 20px;
}
.course-buttons button:hover {
    background-color: #555;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}




